@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<Logiwa.Web.Models.ProductDto>

<h2 class="text-center mb-5">List of Products</h2>

<div class="row mb-5">
    <div class="col">
        <a class="btn btn-primary" asp-controller="Product" asp-action="Create">New Product</a>
    </div>
</div>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Category</th>
        <th>Created At</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td>@product.CategoryName</td>
            <td>@product.CreatedDate.ToString("yyyy-MM-dd")</td>
            <td>
                <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@product.Id">Edit</a>
                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@product.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
